body{
    background-image: url("https://img.freepik.com/free-vector/abstract-flat-colorful-geometric-shapes-background_144290-24.jpg?size=626&ext=jpg");
    background-size: cover;
    background-position: center;
}
.b{
    width: 400px;
    border-radius: 40px;
    background-color: aqua;
    color: darkblue;
}
.heading{
    color: darkblue;
}